<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    
  <!-- Console -->  
  <appender name="S" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{dd/MMM/yyyy HH:mm:ss.SSS} %c %5p - %m %n</pattern>   
    </encoder>
  </appender>
  
  <!-- Plain Text Rolling Appender -->
  <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Append>true</Append>
    <File>heywatch.log</File>
    <encoder>
      	<pattern>%date{dd/MMM/yyyy HH:mm:ss.SSS} %c %5p - %m %n</pattern>      
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>heywatch.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>
  
  <logger name="org.w3c.tidy" level="OFF"/>
  <logger name="ch.qos" level="OFF"/>
  <logger name="org.slf4j" level="OFF"/>

  <root level="INFO">
    <appender-ref ref="S"/>
    <appender-ref ref="R"/>
  </root>
</configuration>